body, html {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

#config {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#display {
    width: 100%; 
    display: block;
    justify-content: center;
}


/* For 3 columns */
.three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* For 4 columns */
.four-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* for scaling the spaned items back down to normal size */
.spanned-item{
    width:calc((50%) - 10px);
    justify-self: center;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;  /* makes a colorded border to match the place on the board if applicable */
}

.game-component-image {
    width: 100%; /* Ensure images are responsive within their container */
    height: auto; /* Maintain aspect ratio */
}
.title-container h1 {
    font-size: 2.5em; /* Adjust size as needed for "big text" */
    text-align: center; /* Center the title if desired */
    margin-bottom: 0.5em; /* Space between the title and the notice */
}

.title-container p {
    font-size: 0.75em; /* Adjust size as needed for "small text" */
    text-align: center; /* Center the text if desired */
    color: #666; /* Optional: color for the copyright text */
}